body {
    background-color: rgb(224, 237, 159);
}
h1{
    color: darkblue;
    font-size:42px;
    text-align:center;
}

p{
    color: darkred;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background-color: white;
}

#clear{
    color: purple;
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#fill{
    color: blue;
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#pencil{
    color:black;
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#marker{
    color:black;
    font-weight:bolder;
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#btnDownload{
    color: green;
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.all_buttons{
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
    
}